<div class="create-post">
  <div class="row">
      <div class="col-md-7 col-sm-7">
          <div class="form-group">
              <img src="/assets/images/avatar.png" alt="user" class="profile-photo" *ngIf="user.image == ''" />
              <img [src]="'../../../../../gallery/profile/'+user.image" alt="user" class="profile-photo" *ngIf="user.image != ''" />
              <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control"
                  placeholder="Write what you wish" #caption="ngModel" ngModel name="caption" required></textarea>
          </div>
      </div>
      <div class="col-md-5 col-sm-5">
          <div class="tools">
              <ul class="publishing-tools list-inline">
                  <li><input type="file" (change)="onFileChange($event)" #file="ngModel" ngModel name="file"></li>
              </ul>
              <button class="btn btn-primary pull-right" (click)="createPost(caption,file)" [disabled]="!caption.valid">Publish</button>
          </div>
      </div>
  </div>
</div>
<div class="post-content" *ngFor="let post of posts">

  
  <img [src]="'/assets/gallery/feed/'+post.image" alt="post-image" class="img-responsive post-image"
    *ngIf="post.image != ''" />
  <div class="post-container">
    <img [src]="'/assets/gallery/profile/'+post.user.image" alt="user" class="profile-photo-md pull-left"
      *ngIf="post.user.image != ''" />
    <img src="/assets/images/avatar.png" alt="user" class="profile-photo-md pull-left" *ngIf="post.user.image == ''" />
    <div class="post-detail">
      <div class="user-info">
        <h5><a href="timeline.html" class="profile-link">{{ post.user.username}}</a> <span
            class="following">following</span></h5>
        <p class="text-muted">Published on {{ post.timestamp | date:'dd:MM:yyyy' }}</p>
      </div>
      <div class="post-text">
        <p>{{post.caption}} <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i>
        </p>
      </div>
      
      <!-- <div class="reaction">
          <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
          <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
        </div> -->
      <div class="line-divider"></div>
      <div class="post-text">
        <p>{{post.content}} <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i
            class="em em-anguished"></i></p>
      </div>
      <div class="line-divider"></div>
      <div class="post-comment">
        <img src="/assets/images/users/user-11.jpg" alt="" class="profile-photo-sm" />
        <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud </p>
      </div>
      <div class="post-comment">
        <img src="/assets/images/users/user-4.jpg" alt="" class="profile-photo-sm" />
        <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing
          elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
      </div>
      <div class="post-comment">
        <img src="/assets/images/users/user-1.jpg" alt="" class="profile-photo-sm" />
        <input type="text" class="form-control" placeholder="Post a comment">
      </div>
    </div>
  </div>
</div>
